body, html {
  width: 100%;
  margin: auto;
  height: 100%;
  background: radial-gradient(circle closest-corner at center 125px,
    #222,
    black 100%) no-repeat;
}

#main {
  transition: margin-left .5s;
}

.main_div {
  width: 100%;
  position: relative;
  height: 100%;
}

.main_div div {
  margin: auto;
  padding: 20px;
}

.nav_div {
  z-index: 0;
}

/* Switch slider */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  min-width: 100px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* TODO: Read More */
input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(60px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header_div .switch_button_div {
  float: right;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  margin-top: -10px;
}

.side_div {
  position: fixed;
  top: 0;
  background-color: #2b7a78;
  width: 300px;
  height: 100%;
  left: 0;
  z-index: 1;
  text-align: center;
}

#main_heading {
  margin: auto;
  margin-bottom: 50px;
  color: white;
  margin-left: 30px;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #026670;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  /* padding: 8px 8px 8px 32px; */
  padding: 0;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-bottom: 70px;
}

.sidenav li {
  list-style: none;
}

.sidenav ul li:last-child {
  margin-left: 15px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.main_heading, a {
  text-decoration: none;
  color: #feffff;
  font-family: 'Gruppo';
  font-size: 25px;
  font-weight: bold;
  font-variant: small-caps;
}

.main_heading {
  color: #222629;
  font-size: 38px;
  font-weight: 800;
}

.center_div {
  width: 400px;
  position: absolute;
  left: 250px;
  top: 100px;
  right: 300px;
  height: 150px;
  text-align: center;
}

#searchText {
  font-size: 50px;
  font-variant: small-caps;
  color: white;
}

.wrap_div button, input {
  border: none;
  border-radius: 40px;
  text-align: center;
  height: 30px;
}

.wrap_div input {
  width: 300px;
}

/* Modal Styling */
.main_modal {
  border-radius: 60px;
  display: none;
  padding-top: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

#users_modal .modal_header {
  height: 60px;
}

.modal_heading {
  text-align: center;
  font-variant: small-caps;
}

.modal_wrap {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  box-shadow: 3px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: showModal;
  animation-duration: 0.5s
}
#add_user{
  margin-top: -100px;
}
/* Animation */
@@keyframes showModal {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.exit {
  color: #000;
  float: right;
  font-size: 25px;
  font-weight: bolder;
}

.exit:hover,
.exit:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal_body {
  /* padding: 2px 16px; */
  background-color: #46343e;
}

.modal_header h2 {
  margin: auto;
}

/*Drop Down Box*/
.dropdownBtn {
  background-color: #026698;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  float: left;
  border-radius: 100px;
  box-shadow: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-options {
  display: none;
  position: absolute;
  background-color: #026698;
  min-width: 160px;
  border-radius: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-options a {
  color: black;
  border-radius: 30px;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

.dropdown-options a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-options {
  display: block;
}

.modal_header {}

.modal_footer, .modal_header {
  /* padding: 2px 16px; */
  background-color: #026670;
  /* color: #faed26; */
}

.modal_footer {
  height: 50px;
  text-align: center;
}

.buttonFooter{
  height: 55px;
}

.buttonFooter button {
  text-align: center;
  float: none;
  margin-left: 80px;
}

/* Table */
.item_table {
  border-collapse: collapse;
  width: 100%;
  background-color: #edeae5;
}

.item_table tbody {
  cursor: pointer;
}

.item_table th, td {
  text-align: center;
  padding: 8px;
}

.item_table tr:nth-child(even) {
  background-color: #46344;
}

.item_table th {
  background-color: #9fedd7;
  /* color: #faed26; */
}

.item_table tr:hover {
  background-color: #fce181;
}

#searchInput {
  visibility: hidden;
}

/******************************
*************************/
/* Add User */
#add_user {
  display: none;
  margin-top: -100px;
}

form {
  display: block;
}

.form {
  margin: auto;
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative
}

.form h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c
}

.form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2
}

.form input:focus {
  border-bottom: 2px solid #78788c
}

.form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a
}

.form button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s
}

.form button:hover {
  background: #78788c;
  color: #fff
}

.form div {
  content: 'Hi';
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000
}

.form span {
  margin: 0 5px 0 15px
}

#openMenuBtn {
  height: 50px;
  position: fixed;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  font-variant: small-caps;
  font-size-adjust: auto;
}

.typewriter {
  border: 1px red;
  height: 100px;
}
